# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Database
*.db

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
